:root {
  --main-color: #ffbcca;
  --sec-color: #ea9dd2;
  --tert-color: #b38ac5;
  --light-color: #ffdcb5;
  --dark-color: #847ead;
  --font-color: #5a5484;
  --font-special-color: #fff;
  --font-special-active: #fff;
  --title-color: #fff;
}

@font-face {
  font-family: MamaBear;
  src: url(font/MamaBear-7BBpE.otf);
}

@font-face {
  font-family: MondayFeelings;
  src: url(font/MondayFeelings-7BD2l.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'MondayFeelings', Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
  background: linear-gradient(180deg, var(--light-color), var(--sec-color));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: var(--font-color);
}

header {
  min-height: 140px;
  max-height: 30vh;
  background-color: var(--sec-color);
  padding: 1em;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
  .logo-title {
    display: flex;
    justify-content: center;
    .logo {
      height: 100px;
      &:last-child {
        transform: scaleX(-1);
      }
    }
  }
  .title {
    font-family: 'MamaBear', Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--title-color);
    text-shadow: 0 0 10px #ffffff70;
    h1 {
      font-size: 2.5rem;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      margin: 1em;
      a {
        text-decoration: none;
        color: var(--font-special-color);
        &:hover {
          color: var(--font-special-active);
          text-shadow: 0 0 7px;
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  article {
    width: 20vw;
    height: 20em;
    background-color: var(--light-color);
    padding: 1em;
    box-shadow: 6px 6px 0 #00000020;
  }
  .landing-page {
    height: 400px;
  }
  &.store-main {
    tr {
      display: flex;
      justify-content: space-between;
      td {
        margin: 2px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20vw;
        background-color: var(--light-color);
        input {
          height: 2em;
          width: 3em;
        }
        select {
          height: 2em;
          width: 10em;
        }
      }
      img {
        width: 80%;
      }
    }
  }
}

footer {
  background-color: var(--dark-color);
  background: linear-gradient(0deg, var(--dark-color), var(--tert-color));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-shadow: 0 50vh 0 50vh var(--dark-color);
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
  }
  img {
    height: 70px;
    /* margin: 0 1em; */
  }
}