:root {
  --main-color: #fff;
  --sec-color: #fff;
  --tert-color: #fff;
  --font-color: #fff;
  --font-special-color: #fff;
  --font-special-active: #fff;
  --title-color: #fff;
}

@font-face {
  font-family: MamaBear;
  src: url(font/MamaBear-7BBpE.otf);
}

@font-face {
  font-family: MondayFeelings;
  src: url(font/MondayFeelings-7BD2l.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'MondayFeelings', Arial, Helvetica, sans-serif;
}

header {
  min-height: 120px;
  max-height: 30vh;
  background-color: red;
  padding: 1em;
  .title {
    font-family: 'MamaBear', Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--title-color);
    text-shadow: 0 0 10px #ffffff70;
    h1 {
      font-size: 2.5rem;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      margin: 1em;
      a {
        text-decoration: none;
        color: var(--font-special-color);
        &:hover {
          color: var(--font-special-active);
        }
      }
    }
  }
}

main {
  .landing-page {
    height: 100px;
  }
}

footer {
  background-color: blue;
  img {
    height: 100px;
  }
}